@charset "utf-8";

html, body {
  background: #eee;
  color: #222;
  font-family: "Helvetica Nueue", Helvetica, arial, sans-serif;
  height: 100%;
}

p {
  line-height: 1.5em;
  padding: 10px;
}

ul {
  padding: 0 10px;
}

ul li {
  list-style-type: disc;
  margin: 0 25px;
  padding: 5px 0;
}

a, a:visited, a:active, a:hover { color: #000; }

h1, h2, h3 {
  font-family: 'Yanone Kaffeesatz';
  padding: 15px 0;
}

h1 { font-size: 5em; }
h2 { color: #333; font-size: 3em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1em; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.hidden {
  visibility: hidden;
}

.screens {
  padding: 15px;
}

.screens .screen {
  background: #000;
  border: 3px solid #222;
  border-radius: 5px;
  height: 275px;
  margin: 0 auto;
  width: 500px;
}

.screens ul {
  margin: 0 auto;
  width: 500px;
}

.screens ul li {
  background: #000;
  border: 2px solid #222;
  border-radius: 3px;
  display: inline-block;
  height: 70px;
  margin: 10px 5px 10px 0;
  padding: 0;
  width: 128px;
}

a.ruby { color: #c61a1a; }
a.coffeescript { color: #ff5600; }
a.rails { color: #981a21; }
a.sinatra { color: #56534f; }
a.backbone { color: #444; }
a.red-staple { color: #910808; }
a.calpoly { color: #1C4102; }

img.me {
  border: 2px solid #333;
  border-radius: 5px;
}

#container {
  background: #fff;
  border: 1px solid #ccc;
  margin: 10px auto;
  padding: 0 30px;
  width: 637px;
}

#container .border {
  background: -webkit-linear-gradient(left, #eee, #ccc, #eee);
  height: 2px;
  margin: 20px 0;
}

#banner {
  font-size: 0.9em;
  padding: 5px 0;
}

#banner h1 {
  font-size: 6em;
}

#banner .pic {
  padding: 15px 0;
}

#top-left {
  width: 450px;
}

#top-right {
  padding: 15px 0;
}

#top-right h4 {
  font-weight: normal;
  padding: 5px 0;
}
